body, html{
  height:100%;
}
body{
  margin: 0px;
  background: rgb(1,75,164);
  background: radial-gradient(circle, rgba(1,75,164,1) 0%, rgba(4,6,23,1) 80%);
  font-size: 16px;
  font-family: Helvetica, sans-serif;
}
body, a:link, a:visited, a:active{
  color: #93bfe7;
  text-decoration: none;
}
.title, .addDancerButton{
  padding: 8px 12px;
  float:right;
}
.lineUpButton, .disperseButton{
  padding: 8px 12px;
  float:left;
}
.topbar{
  height:34px;
  background-color: rgb(15, 31, 46);
}
.title{
  background-color: rgb(15, 31, 46);
}
.dancer{
}
.blinker{
  border: 16px solid;
  border-color: #f1bd5c;
  border-radius: 6px;
  position:absolute;
}
.mover{
  border: 8px solid;
  border-color: #16f184;
  border-radius:15px;
  opacity: 1;
  position:absolute;
}
.colorer{
  border:26px solid;
  border-radius: 28px;
  position:absolute;
}